div.edge-cnt > p, div.lhs-node-cnt > p, div.rhs-node-cnt > p, div.lhs-node-set-cnt > p, div.rhs-node-set-cnt > p {
    color: black;
    font-weight: bold;
    display: inline;
}
div.edge-cnt, div.lhs-node-cnt, div.rhs-node-cnt, div.lhs-node-set-cnt, div.rhs-node-set-cnt {
    display: inline;
}
div.edge-cnt::after, div.lhs-node-cnt::after, div.lhs-node-set-cnt::after, div.rhs-node-set-cnt::after {
    content: " | ";
}
div.rhs-node-set-cnt::after{
    content: " ";
    display: block;
    white-space: pre;
}
div.lhs-node-unique-cnts, div.rhs-node-unique-cnts, div.rhs-node-unique-cnts-dropdown, div.lhs-node-unique-cnts-dropdown {
    display: inline;
    position:relative;
}
div.rhs-node-unique-cnts-dropdown, div.lhs-node-unique-cnts-dropdown {
    position:absolute;
    left: 128px;
}
div.rhs-node-unique-cnts-dropdown > p.rhs-unique-percentage, div.lhs-node-unique-cnts-dropdown > p.lhs-unique-percentage {
    display: inline;
    position:absolute;
    left: -114px;
    margin:0;
}
